# 1. Ignore everything
*

# 2. Allow your modules
!.gitignore
!MA*
!MA*/**

# 3. BUT ignore the junk INSIDE those modules
**/.Rproj.user/
**/.Rhistory
**/.RData
**/.DS_Store
**/.ipynb_checkpoints/
**/_files/
.Rproj.user
